@font-face {
  font-family: 'monerogothicbold';
  src: url('fonts/monerogothic_v3-webfont.woff2') format('woff2'),
       url('fonts/monerogothic_v3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.App[beach='1'] {
  background-image: url('https://fileportal.org/3AEo6E9WDm0F3KYlhq2hwvyfQxeJKqf2aSUkPFg3RVBD8Q');
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #5cb3e7;
}
.App[beach='0'] {
  background-color: #282c34;
}

.XMR-logo {
  max-height: 100px;
  pointer-events: none;
}

.Monerochan {
  height: 358px;
  max-width: 600px;
}

@keyframes pulsate {
  0%   { color: rgb(255, 102, 0); }
  50%  { color: rgb(76, 76, 76); }
  100% { color: rgb(255, 102, 0); }
}
.r-title {
  animation: pulsate 30s infinite ease-out;
}


@media (prefers-reduced-motion: no-preference) {
  .XMR-logo {
    margin: 0 auto;
  }
  .XMR-logo[spin='1'] {
    animation: spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
